flask
flask-cors
yfinance
pandas
numpy
scipy
pymongo
python-dotenv
pydantic

email_validator
feedparser
flask_jwt_extended
alpha_vantage
google.generativeai
# python -m venv venv
# source venv/bin/activate    # For Linux/Mac
# venv\Scripts\activate       # For Windows
# pip install Flask yfinance
gunicorn